/*Set font, background, and basic website layout*/
body {
	background-image: url("/static/courseNotes/images/wov.png");
	background-repeat: repeat;
	background-attachment: fixed;

	font-family: sans-serif;
}
body > * {
	background-image: url("/static/courseNotes/images/halftone.png");
	background-repeat: repeat;
	background-attachment: scroll;

	border-radius: 5px;
	box-shadow: 2px 2px 10px #888888;

	margin: 35px 40px;
	padding: 1px 35px;
}



/*Layout for title*/
.title {
	text-align: center;

	padding-top: 15px;
	padding-bottom: 15px;
}



/*Layout for chapter sections*/
.section {
	margin-bottom: 35px;
}
.section > ul {
	list-style-type: none;
}
.section > ul > li {
	margin-top: 15px;
	margin-bottom: 15px;
}



/*Stylize tables in the notes*/
.section th {
	font-weight: normal;
	font-style: italic;
	text-align: center;
	border-bottom: solid black 1px;

	padding-right: 5px;
}
.section td {
	padding-right: 5px;
}
.section caption {
	font-size: 17px;
}
