{% load custom_tags %}

<!DOCTYPE html>
<html>



<head>
    <!-- Properites -->
    <title>All Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <!-- Bootstrap stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Cusom stuff -->
    <script type="text/javascript">
        $(document).ready(function(){

            // Load notes homepage on double click of the notes dropdown.
            $('#nav-notes-dropdown').dblclick(function(e){
                var url = $(this).attr('data-target-url');
                console.log('hi there');
                window.location.href = url;
            });

        });
    </script>
    {% block additional_resources %}{% endblock %}
</head>



<body>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" >Kris Swann</a>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar">

                <ul class="nav navbar-nav">
                    <li class="dropdown">

                        <a id="nav-notes-dropdown" class="dropdown-toggle" data-toggle="dropdown" data-target-url="{% url 'coursenotes:index' %}">
                            Notes <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Latest courses</li>
                            {% for course in recent_courses %}
                            <li class="{% route_active request 'coursenotes:course_index' course.slug %}">
                                <a href="{% url 'coursenotes:course_index' course.slug %}">{{ course.dept_num }} {{ course.course_num }} - <small>{{ course.name }}</small></a>
                            </li>
                            {% endfor %}

                            <li role="separator" class="divider"></li>

                            <li class="{% route_active request 'coursenotes:index' %}">
                                <a href="{% url 'coursenotes:index' %}">All courses</a>
                            </li>
                        </ul>

                    </li>
                </ul>

                <p class="navbar-text navbar-right hidden-xs">Uninspired slag.</p>

            </div>

        </div>
    </nav>



    {% block body %}{% endblock %}

</body>



</html>
