{% load staticfiles %}

<!DOCTYPE html>
<html>



<head>
    <title>{{ book.title }} Notes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>



<body>
<div class="container">

<h1>{{ book.title }} <small> by {% for author in book.author_set.all %}{{ author.name }} {% endfor %}</small></h1>

<div class="panel-group">
    {% for ch in book.chapter_set.all %}
    <div class="panel panel-default">

        <div class="panel-heading">
            <a href="{% url 'coursenotes:chapter_view' book.id ch.number %}">{{ ch.number }}. {{ ch.title }}</a>
        </div>

        <ul class="list-group">
        {% for sec in ch.section_set.all %}
            <li class="list-group-item text-muted"><small>{{ sec.number }}. {{ sec.title }}</small></li>
        {% endfor %}
        </ul>

    </div>
    {% endfor %}
</div>

</div>
</body>



</html>
